extends layout

block content
  h1 Timothy Browne
  p.lead An interactive portfolio built with Node.js and MongoDB.
  hr
  .row
    h1(class="project-header text-center") Current Projects
    .col-sm-6
      h2(class="project-title text-center") Eye Encounters
      p A react-on-rails website for a local Philadelphia optometry practice and optical boutique.  PostgreSQL/Ruby/Rails 5.1/Webpacker/React/Redux/JQuery/SASS/Bootstrap
      p
        a.btn.btn-default(href='http://www.eyeencounters.net/', class="text-center" role='button') View »
    .col-sm-6
      h2(class="project-title text-center") Tourage
      p An application for independent touring musicians and booking agents for the centralization and simplification of tour date information across social media platforms.  PostgreSQL/Ruby/Rails 5.1/Webpacker/React/Redux/SASS/Bootstrap/OAuth 2.0
      p
        a.btn.btn-default(href='https://tourageapp.herokuapp.com/', class="text-center" role='button') View »
    .col-sm-6
      h2(class="project-title text-center") OnBlast!
      p A group project from Launch Academy, designed to spur civic engagement by allowing users to search for and review their local, state, and federal representatives.  PostgreSQL/Ruby/Rails 5.1/Webpacker/Devise/ActionMailer/React/SASS/Bootstrap
      p
        a.btn.btn-default(href='https://on-blast.herokuapp.com/', class="text-center" role='button') View »
